form {
    width: 300px;
    margin: 0 auto;
    text-align: center;

  }

  form h1 {
    color: white;
  }
  label, input {
    display: block;
    margin: 10px 0;
  }
  input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  button {
    width: 100%;
    background-color: #4CAF50;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: #45a049;
  }

  /* CSS NAV */

  nav {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 25px;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  nav a {
    color: white;
  }

  .firstBloc {
    color: white;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 450px;
  }

  .firstBloc h1 {
    font-size: 50px;
  }

  .firstBloc p {
    font-size: 25px;
  }

  .header h1 {
    color: white;
  }

.content {
  background-image: url(./img/restaurant-italien-pizzeria-dinard.jpg);
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-form {
  width: 340px;
  margin: 50px auto;
}
.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}
.btn {        
  font-size: 15px;
  font-weight: bold;
}

.custom-icon {

  margin-bottom: 10px;
}

.col-lg-4 {
  margin-bottom: 60px;
}

.grey {
  background-image: url(./img/grey-marble-background-concept\ \(1\).jpg);
}

.table, .table-striped, .table-light {
  margin-top: 150px;
}

.post {
  margin-bottom: 15px;
  margin-top: 150px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
  padding: 30px;
  width: 600px;
}